.bg-black{
    background: black !important;
}

.bg-other{
    background: rgb(230, 131, 2) !important;
}

.bg-other-faint{
    background: rgba(230, 131, 2, 0.281) !important;
}

.text-other{
    color: rgb(230, 131, 2);
}

/* .pic_bg{

    background:linear-gradient(to right,  rgba(11, 12, 12, 0.8),  rgba(8, 8, 8, 0.8)), url('<?= URLROOT ?>/img/WhatsApp Image 2021-06-07 at 2.37.49 AM.jpeg');
    background-size:cover !important;
} */