.bg-black{
    background: black !important;
}

.bg-other{
    background: rgb(230, 131, 2) !important;
}

.bg-other-faint{
    background: rgba(230, 131, 2, 0.281) !important;
}

.text-other{
    color: rgb(230, 131, 2);
}